@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --cor-principal: wheat;
    --cor-hover:rgb(250, 229, 189);
    --cor-secundaria:#11631ce7;
    --cor-terciaria: #08a757;
    --cor-quaternaria: #489c7a;
    --cor-quinternaria: #34614f;

    --fonte-principal: "krona one", sans-serif;
    --fonte-secundaria: "montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    
    box-sizing: border-box;
    background-color:var(--cor-principal);
    color: var(--cor-secundaria);
    
}
.titulo-destaque{
    color:var(--cor-terciaria) ;
}
.apresentacao{
    padding: 5% 15% 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
    min-height: 100vh;
}
.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    
}
.apresentacao_conteudo_titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}
.apresentacao_conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}
.apresentacao_links_subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao_links_navegacao{
    border: 2px solid var(--cor-secundaria);
    display: flex;
    justify-content:center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-quinternaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}
.apresentacao_links_navegacao:hover{
    background-color: var(--cor-hover);
    width: 60%;
    color: var(--cor-quaternaria);
    border-color: var(--cor-quaternaria);
}
.rodape{
    color:var(--cor-quaternaria);
    background-color: var(--cor-quinternaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    
}
.cabecalho{
    padding: 2% 0% 0% 15% ;
}
.cabecalho_menu{
    display: flex;
   gap: 50px;
    
}
.cabecalho_menu_link{
     font-family: var(--fonte-secundaria);
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--cor-quinternaria);
}
.cabecalho_menu_link:hover{
    font-size: 1.2rem;
    color:var(--cor-quaternaria);
    text-decoration: underline 10%;
    
}
.apresentacao_imagem{
    width: 40%;
}
@media (max-width: 1200px){
    
    .cabecalho{
        padding: 5vw 0vw 5vw 10vw;
    } 
    .cabecalho_menu{
        justify-content: center;
        gap: 10%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5vw 0vw 5vw 10vw;
    }
    .apresentacao_conteudo{
        width: 100%;
        text-align: center;
    }
   .rodape{
    width: 100%;
   }
}
   @media (max-width: 600px){
   .apresentacao_links_navegacao{
    width: 80%;
   }
    .apresentacao_links{
        text-align: center;
    }
    .apresentacao_imagem{
        width: 60%;
    }
   
   }
